.game-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url('../images/rps.jpg');
  background-size: cover;
  background-position: center center;
}

.message-area {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  padding: 2em 1em;
  text-align: center;
  font-size: 2.25em;
  line-height: 1.6;
}

.player-shapes {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
}

.game-btn {
  flex: 1;
  padding: 1em;
  margin: 0.25em;
  background-color: #7b29c7;
  border-color: #7b29c7;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
}

@media (max-width: 50em) {
  .message-area {
    font-size: 2em;
  }

  .game-btn {
    font-size: 1.25em;
  }
}