* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid #ffbf47;
}

html {
  font-size: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
	color: #ECF3E3;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #ECF3E3;
  margin: 0.75em 0 0.5em;
  font-weight: 400;
}

h1 {
  font-size: 1.75em;
  color: #f9aa1b;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  font-weight: 300;
  margin-bottom: 0.5em;
  color: #ffffff;
}

button {
  display: block;
  background-color: #2DABDE;
  padding: 0.5em 0.75em;
  border: 1px solid #3490b5;
  color: #ECF3E3;
  font-size: 1em;
}

.btn-action {
   background-color: #2DABDE;
   margin: 0.5em 0 0.75em;
}

.btn-danger {
  background-color: #c54238;
  border-color: #c54238;
  margin: 0.5em 0 0.75em;
}

button[disabled] {
  background-color: #9e9e9e;
  border-color: #9e9e9e;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
}

.sidebar {
  width: 21em;
  min-width: 21em;
  background-color: #414952;
  padding: 1.5em;
}

.score {
  margin: 2em 0;

  div {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #ffffff;
    font-weight: 400;
    font-size: 1.5em;

    &:first-of-type {
      color: #12d812;
    }

    &:last-of-type {
      color: #da2c1e;
    }
  }

  span {
    display: block;
    padding: 0.25em;
    font-size: 2em;
  }
}

.settings-area {
  padding: 1em;
  background-color: #1a2633;

  button {
    display: block;
    float: left;
    margin-right: 1em;
  }
}

.text-player {
  color: #12d812;
}

.text-computer {
  color: #da2c1e;
}

.text-winner {
  color: #f9aa1b;
}

@media (max-width: 50em) {
  html {
    font-size: 80%;
  }

  .flex-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}