<!doctype html>
<html lang="en">
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
</head>
<body>

  <div class="wrapper">
    <!-- sidebar -->
    <div class="flex-wrapper">
      <section class="sidebar">
        <h1>Rock - Paper - Scissors</h1>
        <h2>How to play</h2>
        <p>To play, choose one of the tree options - Rock, Paper or Scissors. You will see the score of the game below. Also, you can reset the current game or simulate a game.</p>

        <div class="score" role="log">
          <h3>Current score:</h3>
          <div>Player <span id="scorePlayer"></span> </div>
          <div>Computer <span id="scoreComputer"></span> </div>
        </div>

      </section>

      <!-- game area -->
      <section class="game-container">
        <div class="message-area" id="messageContainer" role="log">
          
        </div>
        <div class="player-area">
          <div class="player-shapes" id="playerShapes">
            
          </div>
        </div>
      </section>
    </div>

    <section class="settings-area">
      <button class="btn-danger" id="resetGame">Reset score</button>
      <button class="btn-action" id="computerGame">Simulate a Computer vs Computer game</button>
    </section>
  </div>
</body>
</html>
